{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script type="text/javascript">
        function SendRequest() {
            $.ajax({
                type: "POST",
                url: "{{ path('product_view_action') }}",
                data: "data_1=" + $('#data_1').val() + "&data_2=" + $('#data_2').val(),
                success: function (response) {
                    $('#response').html(response);
                }
            });
        };
    </script>
{% endblock %}

{% block body %}
    <h1>Product View</h1>
    <table>
    <tr>
        <th>Запрос</th>
        <th>Ответ сервера</th>
    </tr>
    <tr>
        <td>
            <label>Переменная 1: <input type="text" size="10" id="data_1"/></label><br/>
            <label>Переменная 2: <input type="text" size="10" id="data_2"/></label><br/>
            <button onclick="SendRequest();">Послать запрос</button>
        </td>
        <td>
            <div id="response"></div>
        </td>
    </tr>
    </table>
{% endblock %}