{% for category in categories %}
    <li><a href="#" onclick="SendRequest({{ category.id }});" >{{ category.name }}</a>
        </li>
        {% if category.children %}
            <ul>{% include "includes/child-categories.html.twig" with {'categories': category.children} %}
                       </ul>
        {% endif %}
{% endfor %}